# Python specifikus fájlok
__pycache__/
*.py[cod]

# Virtuális környezet (ha majd létrehozunk egyet)
venv/
env/

# Adatok és modellek (ezeket csak helyben tartjuk meg)
data/
models/
*.csv

results/
*.png
*.jpg
metrics.json
grid_master_summary*.csv
config_override.json